<%= simple_nested_form_for @component, :multipart => true do |f| %>
  <%= record_message @component %>
  <div class="row">
    <div class="span3">
      <%= f.input :name %>
      <%= f.input :is_template, :as => :boolean %>
      <%= f.association :component_types, :collection => ComponentType.all, :as => :check_boxes %>
      <%= f.button :submit, :class => "btn-primary" %>
    </div>

    <div class="span9">
      <b><%= OsObject.model_name.human %></b>
      <%= f.simple_fields_for :os_objects do |ff| %>
        <%= render "os_object_fields", :f => ff %>
      <% end %>
      <%= f.link_to_add t("new", :model => OsObject.model_name.human), :os_objects, :class => "btn btn-info" %>
    </div>
  </div>
<% end %>
