<div class="row">
  <div class="span3">
    <%= f.input :name %>
    <%= f.link_to_remove t("delete", :model => OsObject.model_name.human) %>
  </div>
  <div class="span3">
    <p><%= Attr.model_name.human %></p>
    <%= f.simple_fields_for :attrs do |ff| %>
      <%= render "attribute_fields", :f => ff %>
    <% end %>
    <%= f.link_to_add t("new", :model => Attr.model_name.human), :attrs %>
  </div>
</div>
<hr>