<%= page_header @header %>

<div class="row">
  <div class="span3 well">
    <%= render "share/navside" %>
  </div>

  <div class="span8">
    <%= will_paginate @components %>
    <ul>
      <%= render @components %>
    </ul>
    <%= will_paginate @components %>
  </div>
</div>