<%= page_header do %>
  <%= render "components/toolbar" %>
  <% if controller.controller_name == "components"%>
    <%= params[:template].present? ? t("template") : Component.model_name.human %>
  <% elsif controller.controller_name == "component_types" %>
    <%= @component_type.name %>
    <% if params[:template].present? %>
      <span class="label label-info"><%= t("template") %></span>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="span3 well">
    <%= render "share/navside" %>
  </div>

  <div class="span8">
    <ul>
      <%= render @components %>
    </ul>
  </div>
</div>