<%= page_header "Components" %>

<div class="row">
  <div class="span3 well">
    <%= render "share/navside" %>
  </div>

  <div class="span8">
    <ul>
      <% @components.each do |c| %>
        <li><%= c.name %> <%= link_to "Show", c %> <%= link_to "Edit", edit_component_path(c) %> <%= link_to "Delete", component_path(c), :method => :delete %></li>
      <% end %>
    </ul>
  </div>
</div>