<%= page_header @component.name %>
<%= link_to "Edit", edit_component_path(@component) %>
<%= link_to "Delete", component_path(@component), :method => :delete %>

<pre><%= @component.to_osm %></pre>

<h3>Component Types</h3>
<ul>
  <% @component.component_types.each do |ct| %>
    <li><%= ct.name %></li>
  <% end %>
</ul>