<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1><%= t("share.taiwan_building_component_library") %></h1>
  <p><%= t(".caption") %></p>
  <p><%= t(".caption2") %></p>
  <p><a class="btn btn-primary btn-large"><%= t(".learn_more") %> &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2><%= Component.model_name.human :count => 2 %> <small><%= Component.count %> <%= Component.model_name.human :count => 2 %></small> </h2>
    <p><%= t(".caption3") %></p>
    <form class="form-search">
      <input type="text" name="q" class="search-query" placeholder="ex. Skylight">
      <button type="submit" class="btn"><%= t("share.search") %></button>
    </form>
    <p><%= link_to t(".browse_components"), components_path, :class => "btn btn-warning btn-large" %></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <%= link_to t(".developer_access"), home_api_path, :class => "btn btn-success btn-large" %>
  </div>
</div>